*{box-sizing: border-box;}
img{width: 100%; display: block;}

.title{
    text-align: center;
    color: blueviolet;
}

.products-container{
    width: 900px;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.product-card{
    width: 260px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    overflow: hidden;
    transition: ease-in-out 200ms;
    padding-bottom: 1rem;
}

.product-card:hover{
    cursor: pointer;
    transform: scale(0.98);
    opacity: 0.9;
}

.product-info{
    padding: 1rem;
    text-align: center;
}

.product-name{
    font-size: 1.3rem;
    font-weight: bold;
}

.product-price{
    color: green;
    font-size: 1.2rem;
    margin: 0.3rem 0;
}

.product-status{
    font-weight: bold;
}

.in-stock{
    color: blueviolet;
}
.out-stock{
    color: crimson;
}
