/* Based on lab10_style.css with some tweaks */

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  width: 100%;
  display: block;
}

.myform {
  background-color: aliceblue;
  width: 80%;
  margin: 3rem auto;
  padding: 2rem;
  box-shadow: 1px 5px gray;
}
.btnsubmit {
  background-color: rgb(50, 50, 50);
  color: aliceblue;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.btnsubmit:hover {
  background-color: crimson;
  box-shadow: 0px 0px 5px 1px gray;
}
.legend {
  text-align: center;
  font-size: 3rem;
  color: blueviolet;
}
.formcontrol {
  margin-top: 1rem;
}
.form_label {
  width: 150px;
  display: inline-block;
}
.form_input {
  padding: 0.5rem 1rem;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  width: calc(100% - 160px);
}
.error_msg {
  color: crimson;
  font-size: 0.8rem;
  margin-left: 150px;
  min-height: 1rem;
}
.success_msg {
  text-align: center;
  font-size: 1.2rem;
}
