/*
George Athanasopoulos
Lab 8, Events
Oct 7th, 2025
*/
*{box-sizing: border-box;}
img{width: 100%; display: block;}
.btnpressme{
    padding: 0.5em 2em;
    color: whitesmoke;
    border-radius: 12px;
    background-color: rgb(50,50,50);
}
.btnactive{
    background-color: crimson;
    box-shadow: 0px 0px 3px 1px gray;
}
#list li{
    width: 200px;
    padding: 1em;
    border: lightblue 1px solid;
    list-style: none;
    display: flex;
}
#list li span{
    display: inline-block;
    margin-left: auto;
    width: 20%;

}
#list li:hover{
    cursor: pointer;
    background-color: yellow;
}

/*Window Event*/
#content{
    width: 2000px;
    background-color: lightblue ;
    padding: 20px ;
}

/* Photo Gallery Scrolling */
.gallery-container, .maincontainer{
    width: 1000px;
    margin: auto;
}
.maincontainer{
    position: relative;
    z-index: 0;
}
.gallery-container{
    position: relative;
    z-index: 1;
    overflow-x: scroll; /*enable horizontal scrolling*/
    white-space: nowrap; /*ensure all images stay on the same line*/
}
.gallery-image{
    display: inline-block;
    width: 50%;
    height: 650px;
}
.btnright, .btnleft{
    position: absolute;
    z-index: 2;
    top: 40%;
    font-size: 3em;
    color: chartreuse;
    background-color: rgba(255,255,255,0);
    border: none;
}
.btnright:hover, .btnleft:hover{
    color: crimson;
    cursor: pointer;
}
.btnleft{
    left:0%;
}
.btnright{
    right: 0%;
}


/*LAB 8 EXERCISE*/

/*CLICK COUNTER CIRCLE*/
.circle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: darkblue;
    color: white;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    cursor: pointer;
   
}
.circle:hover{
    background-color: crimson;
}
.resetBtn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 1.5em;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
}
.resetBtn:hover{
background-color: darkred;
}