*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    align-items: center;
    padding: 1rem;
}
.inputbox{
    background-color: lightgrey;
    padding: 3rem 1rem ;
    border-radius: 60px;
    text-align: left;
}
.title{
    margin-bottom: .5rem;
    font-size: 2rem;
}
.prompt{
    text-align: left;
    color: crimson;
    font-size: 1.5rem;
}
.userinput {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
}
.submitbtn {
  margin-top: 1.5rem;
  padding: 0.75rem 2rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  background-color: grey;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.submitbtn:hover{
    box-shadow: 10;
    background-color: crimson;
}