*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: steelblue;
    text-align: center;
    line-height: 80px;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

#headerTitle{
    color: white;
    font-size: 2em;
}