*{box-sizing: border-box;}
img{width: 100%; display: block;}


/*  CSS for card  */
/* .card{
  border: 5px solid gray;
  width: 300px;
  border-radius: 5px;
  padding: 1rem;
  margin: 2rem;
  } */

.author{
  text-align: center;
  display: block;
  font-weight: bolder;
  font-size: 1.5rem;
}

.metadata, .comment{
  text-align: center;
}

.date{
  font-style: italic;
  color: darkblue;
  font-weight: bolder;
}

/* app.js */ 
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* user_feedback.js */
.feedbackcard{
  width: 300px;
  border: solid 1px gray;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  padding: 1rem;
}

.cardfooter{
  background-color: gray;
  padding: 0.5rem 1rem;
  color: aliceblue;
}

.feedbackcontainer{
  margin: 1rem;
}

.feedbackcontainer:hover{
  box-shadow: 0px 0px 10px 2px gray;
  transform: scale(1.01);
  overflow: hidden;
  border-radius: 10px;
}
.content{
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 1rem;
}

/* Modalwindow.js */
.modalWindow{
  background-color: rgba(50, 50, 50, 0.5);
  position: fixed;
  top: 0%; bottom: 0%; left: 0%; right: 0%;
  display: none;
}
.modalContent{
  background-color: whitesmoke;
  width: 500px;
  margin: 100px auto;
}
.modalHeader{
  border-bottom: ridge 1px lightblue;
  display: flex;
}
.modalHeader p:nth-child(1){
  font-size: 1.2rem;
  text-align: center;
  width: 80%;
}
.closeModal{
  margin-left: auto;
  padding-right: 2rem;
  color: lightgreen;
}
.commentArea{
  width: 80%;
  margin: 10%;
  padding: 0.5rem 1rem;
}
.btnpostfeedback{
  width: 80%;
  margin: 10%;
  background-color: lightgreen;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}
.btnpostfeedback:hover{
  background-color: crimson;
}
.closeModal:hover{
  color: crimson;
  cursor: pointer;
}